[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
Recordings/

.vs/
.vscode/
.idea/
.gradle/

*.csproj
*.unityproj
*.sln
*.slnx
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

venv/
venv_mp/

sysinfo.txt

# Python
Python/venv_mp/
Python/__pycache__/

# Unity
Library/
Temp/
Logs/